/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center; /* Centraliza o texto no corpo do documento */
    background-color: #f5f5f5; /* Define o fundo como um tom de azul claro */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Adiciona bordas arredondadas para os botões */
input[type="submit"],
button {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
}

/* Adiciona bordas arredondadas para os formulários */
form {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    display: inline-block;
    text-align: left;
    background-color: #ffffff; /* Define o fundo do formulário como branco */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Adiciona espaço entre o formulário e a tabela */
    border: 2px solid #007bff; /* Define a borda da tabela como azul claro */
    background-color: #ffffff; /* Define o fundo da tabela como branco */
}

table th, table td {
    border: 1px solid #ccc; /* Define as bordas internas da tabela com uma cor mais clara */
    padding: 8px;
    text-align: left;
    background-color: #f5f5f5; /* Define o fundo das células da tabela como um tom de azul claro */
}

/* Estiliza o link de inserção de aluno */
a.btn {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

a.btn:hover {
    background-color: #0056b3; /* Altera a cor do botão ao passar o mouse */
}
