<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
    <h1>Lista de Alunos</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Turma</th>
            <th>Turno</th>
        </tr>
        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.id}"></td>
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.sobrenome}"></td>
            <td th:text="${aluno.email}"></td>
            <td th:text="${aluno.turma}"></td>
            <td th:text="${aluno.turno}"></td>
        </tr>
    </table>
</body>
</html>
