<!-- formulario-cliente.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Formulário de Cliente</title>
  </head>

  <body>
    <h1>Formulário de Cliente</h1>

    <!-- Adicionar formulário de criação de cliente aqui -->
    <form method="post" th:action="@{/salvar}" th:object="${cliente}">
      Nome: <input type="text" th:field="*{nome}" /><br />
      Sobrenome: <input type="text" th:field="*{sobrenome}" /><br />
      Data de Nascimento:
      <input type="date" th:field="*{dataNascimento}" /><br />
      Email: <input type="text" th:field="*{email}" /><br />
      Estado: <input type="text" th:field="*{estado}" /><br />
      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>
